<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Flask-Starter-App - Python Flask Starter Template">
    <meta name="author" content="github.com/">

    <title>{% block title %}{{ page_title|default('Flask-Starter') }}{% endblock %} - Flask-Starter-App</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='extras/bootstrap.min.css')}}" rel="stylesheet">

</head>

<body>

    <!-- Navigation Here -->

    <!-- Page Content -->
    {% block body %}

    {% endblock %}

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='extras/jquery.slim.min.js')}}"></script>
    <script src="{{ url_for('static', filename='extras/bootstrap.bundle.min.js')}}"></script>

</body>

</html>
