<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Flask-Starter-App - Python Flask Starter Template">
    <meta name="author" content="github.com/">

    <title>{% block title %}{{ page_title|default('Flask-Starter') }}{% endblock %} - Flask-Starter-App</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='extras/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet">


</head>

<body>

    <!-- Navigation Here -->
    <div class="nav-head">
        <input type="checkbox" id="nav-check">
        <div class="nav-header">
            <div class="nav-title">
                Time-It
            </div>
        </div>
        <div class="nav-btn">
            <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
            </label>
        </div>

        <div class="nav-links">
            <a href="//github.io/jo_geek" target="_blank">Github</a>
            <a href="http://stackoverflow.com/users/4084003/" target="_blank">Stackoverflow</a>
            <a href="https://in.linkedin.com/in/jonesvinothjoseph" target="_blank">LinkedIn</a>
            <a href="https://codepen.io/jo_Geek/" target="_blank">Codepen</a>
            <a href="https://jsfiddle.net/user/jo_Geek/" target="_blank">JsFiddle</a>
        </div>
    </div>

    <!-- Page Content -->
    {% block body %}

    {% endblock %}

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='extras/jquery.slim.min.js')}}"></script>
    <script src="{{ url_for('static', filename='extras/bootstrap.bundle.min.js')}}"></script>

</body>

</html>
